<%= link_to root_path do %>
  <h3>Back</h3>
<% end %>
<div class="d-none d-lg-block">
  <h3><%= Time.current.strftime("%Y-%m-%d %H:%M:%S") %></h3>
  <table class="table">
    <thead>
      <tr class="shadow-sm">
        <th scope="col"><p class="fw-bold display-6">Coin</p></th>
        <th scope="col"><p class="fw-bold display-6">Days</p></th>
        <th scope="col"><p class="fw-bold display-6">Annual</p></th>
        <th scope="col"><p class="fw-bold display-6">Landed</p></th>
        <th scope="col"><p class="fw-bold display-6">Gap Rate</p></th>
        <th scope="col"><p class="fw-bold display-6">Future</p></th>
        <th scope="col"><p class="fw-bold display-6">Spot</p></th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |r| %>
        <tr class="shadow-sm">
          <td><%= r["coin"] %></td>
          <td><%= r["days"]&.round(2) %></td>
          <td><%= r["expected_margin"]&.round(4) %>%</td>
          <td><%= r["real_margin_expected"]&.round(4) %>%</td>
          <td><%= r["gap_rate"]&.round(4) %>%</td>
          <td><%= r["dm_first_bid"] %></td>
          <td><%= r["spot_first_bid"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="d-lg-block d-xl-none">
  <h1><%= Time.current.strftime("%Y-%m-%d %H:%M:%S") %></h1>
  <table class="table">
    <thead>
      <tr class="shadow-sm">
        <th scope="col"><p class="fw-bold display-5">Coin</p></th>
        <th scope="col"><p class="fw-bold display-5">Days</p></th>
        <th scope="col"><p class="fw-bold display-5">Annual</p></th>
        <th scope="col"><p class="fw-bold display-5">Landed</p></th>
        <th scope="col"><p class="fw-bold display-5">Gap Rate</p></th>
        <th scope="col"><p class="fw-bold display-5">Future</p></th>
        <th scope="col"><p class="fw-bold display-5">Spot</p></th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |r| %>
        <tr class="shadow-sm">
          <td><%= r["coin"] %></td>
          <td><%= r["days"]&.round(2) %></td>
          <td><%= r["expected_margin"]&.round(4) %>%</td>
          <td><%= r["real_margin_expected"]&.round(4) %>%</td>
          <td><%= r["gap_rate"]&.round(4) %>%</td>
          <td><%= r["dm_first_bid"] %></td>
          <td><%= r["spot_first_bid"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>